<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<title>
    {% block title %}
        Online shop
    {% endblock %}
  </title>

</head>
<body>

   <nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'index_goods_url' %}">Online shop</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

              <!-- выпадающее меню -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Каталог</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for category in categories %}
          <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
          {% endfor %}
        </div>
      </li>
        <!-- доставка -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'delivery_detail_url' %}">Доставка</a>
      </li>
        <!-- контакты -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contacts_detail_url' %}">Контакты</a>
      </li>
        <!-- корзина -->
      <li class="nav navbar-nav pull-right">
<!--        <a class="nav-link" href=#>Корзина<span class="badge">#</span></a>-->
      </li>
    </ul>


        <!-- поиск -->
    <form class="form-inline my-2 my-lg-0">
          <div class="nav-link">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    Корзина:
                    <a href="{% url 'cart:cart_detail' %}">
                        {{ total_items }} item{{ total_items|pluralize }},
                        ${{ cart.get_total_price }}
                    </a>
                {% else %}
                    Корзина пуста
                {% endif %}
            {% endwith %}
          </div>
      <a class="nav-link" href="{% url 'account_login' %}">Личный кабинет</a>
      <a class="nav-link" href="{% url 'account_logout' %}">Выход</a>
<!--      <input class="form-control mr-sm-2" type="search" placeholder="..." aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>-->
    </form>
  </div>
</nav>

  <!-- body -->
<div class="container">
       <div class="row">
           <div class="col-8 offset-md-1">
          {% block content %}
            <h1>There is no any content for you</h1>
          {% endblock %}
           </div>
       </div>
</div>

</body>
</html>

<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->